<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阶段四作业_首页</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="../views/iconfont/iconfont.css">
    <!-- <link rel="stylesheet" href="../views/bootstrap/css/bootstrap.min.css"> -->
</head>


<body>
    <!-- 头部区域 start -->
    <header>
        <img src="../views/images/邮件.png" class="email">
        <img src="../views/images/headerLogo.png" class="headerLogo">
        <img src="../views/images/search.png" class="search">
    </header>
    <!-- 头部区域 end -->

    <!-- banner区域 start -->
    <div class="banner">
        <div class="banner-pic">
            <img src="../views/images/FE.png">
        </div>
    </div>
    <!-- banner区域 end -->

    <!-- main区域 start -->
    <div class="main">

        <!-- 就业课区域 start -->
        <div class="jobHunting">
            <h1> <span class="circle"></span> 就业课 <span class="circle"></span></h1>
            <div class="category">
                <div class="item">
                    <img src="../views/images/fe-list.png">
                </div>
                <div class="item">
                    <img src="../views/images/java.png">
                </div>
                <div class="item">
                    <img src="../views/images/data.png">
                </div>
                <div class="item">
                    <img src="../views/images/python.png">
                </div>
                <div class="item">
                    <img src="../views/images/ui.png">
                </div>
                <div class="item">
                    <img src="../views/images//fe-list.png">
                </div>
            </div>
        </div>
        <!-- 就业课区域 end -->

        <!-- 微课区域 start -->
        <div class="miniCourse">
            <h1> <span class="circle"></span> 微课 <span class="circle"></span></h1>
            <div class="category">
                <div class="item">
                    <img src="../../api_server/images/wx.jpg">
                    <h2>[前端] 微信小程序</h2>
                    <h3><span class="studyNumber">20人学习</span> <span class="price">￥199</span></h3>
                </div>
                <div class="item">
                    <img src="../../api_server/images/wx.jpg">
                    <h2>[前端] 微信小程序</h2>
                    <h3><span class="studyNumber">20人学习</span> <span class="price">￥199</span></h3>
                </div>
                <div class="item">
                    <img src="../../api_server/images/wx.jpg">
                    <h2>[前端] 微信小程序</h2>
                    <h3><span class="studyNumber">20人学习</span> <span class="price">￥199</span></h3>
                </div>
                <div class="item">
                    <img src="../../api_server/images/wx.jpg">
                    <h2>[前端] 微信小程序</h2>
                    <h3><span class="studyNumber">20人学习</span> <span class="price">￥199</span></h3>
                </div>
            </div>
        </div>
        <!-- 微课区域 end-->

    </div>
    <!-- main区域 end -->
    <!-- footer区域 start -->
    <footer>
        <div class="homepage">
            <span class="iconfont">&#xe614;</span>首页
        </div>
        <div class="category"> <span class="iconfont">&#xe60a;</span>分类
        </div>
    </footer>
    <!-- footer区域 end -->
    <script src="js/flexible.js"></script>
</body>

</html>