<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阶段四作业_课程分类</title>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./category.css">
    <link rel="stylesheet" href="../iconfont/iconfont.css">
    <title>Document</title>
</head>

<body>
    <!-- header区域 start -->
    <header>
        <img src="../images/logo.png">
        <h1>课程分类</h1>
    </header>
    <!-- header区域 end -->

    <!-- main区域 start -->
    <!-- main区域 end -->
    <div class="main">
        <div class="left">
            <ul>
                <li class="frontEnd selected">前端</li>
                <li class="wechat">微信小程序</li>
                <li class="vue">Vue.js</li>
                <li class="mobile">移动web开发</li>
                <li class="bootstrap">bootstrap</li>
                <li class="node">Node.js</li>
            </ul>
        </div>
        <div class="right">
            <h1>就业班</h1>
            <div class="jobHunting">
                web前端在线就业班
            </div>
            <h1 class="promotion">提高课</h1>
            <ul class="list">
                <div>
                    微信小程序
                </div>
                <div>
                    深入探索js
                </div>
                <div>
                    node.js
                </div>
                <div>
                    bootstrap
                </div>
                <div>
                    vue.js
                </div>
                <div>
                    微信小程序
                </div>
                <div>
                    深入探索js
                </div>
                <div>
                    node.js
                </div>
                <div>
                    bootstrap
                </div>
                <div>
                    vue.js
                </div>
                <div>
                    微信小程序
                </div>
                <div>
                    深入探索js
                </div>
                <div>
                    node.js
                </div>
                <div>
                    bootstrap
                </div>
                <div>
                    vue.js
                </div>
                <div>
                    微信小程序
                </div>
                <div>
                    深入探索js
                </div>
                <div>
                    node.js
                </div>
                <div>
                    bootstrap
                </div>
                <div>
                    vue.js
                </div>
            </ul>
        </div>

    </div>
    <!-- footer区域 start -->
    <footer>
        <div class="homepage">
            <span class="iconfont">&#xe614;</span>首页
        </div>
        <div class="category"> <span class="iconfont">&#xe60a;</span>分类
        </div>
    </footer>
    <!-- footer区域 end -->
    <script src="../js/flexible.js"></script>
</body>

</html>