/* 通用样式 start */

body {
    position: relative;
    max-width: 750px;
    min-width: 320px;
    margin: 0 auto;
    width: 10rem;
}

div {
    box-sizing: border-box;
}

li {
    list-style: none;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}


/* 通用样式 end */


/* <!-- header区域 start --> */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 1.76rem;
    width: 100%;
    line-height: 1.76rem;
    background-color: #ffffff;
    overflow: hidden;
}

header img {
    float: left;
    position: relative;
    height: 1.386667rem;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    float: left;
    font-size: .693333rem;
    margin: 0;
    margin-left: 1.333333rem;
    padding: 0;
    color: #28ABFC;
}


/* <!-- header区域 end --> */


/* <!-- main区域 start --> */

.main {
    display: flex;
    position: absolute;
    top: 2rem;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.selected {
    border-left: 5px solid #5191b7;
    background-color: #ffffff;
}

.main .left {
    flex: 30%;
    height: 100%;
    background-color: #F5F5F5;
}

.main .left ul li {
    height: 1.493333rem;
    line-height: 1.493333rem;
    font-size: .426667rem;
    text-align: center;
    color: #333333;
}

.main .right {
    height: 100%;
    flex: 70%;
}

.right h1 {
    font-size: .48rem;
    line-height: 1.173333rem;
    padding-left: .453333rem;
    font-weight: 400;
    color: #28ABFC;
}

.right .promotion {
    line-height: .533333rem;
}

.right .jobHunting {
    margin-left: .453333rem;
    height: 2.293333rem;
    background: url(../images/web_fe.png) no-repeat;
    background-size: cover;
    border-radius: .133333rem;
    text-align: center;
    line-height: 2.293333rem;
    color: #ffffff;
    font-size: .48rem;
}

.right .list {
    margin-left: .32rem;
}

.right .list div {
    box-sizing: border-box;
    float: left;
    margin-left: .266667rem;
    margin-top: .533333rem;
    height: .96rem;
    padding: .266667rem;
    font-size: .373333rem;
    color: #c0c0c0;
    border: 1px solid #cccccc;
    border-radius: .133333rem;
}


/* <!-- main区域 end --> */


/* <!-- footer区域 start --> */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.546667rem;
    background-color: #FFFFFF;
    color: #5bb5f5;
}

footer .homepage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1.066667rem;
}

footer .category {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 1.066667rem;
}

.iconfont {
    font-size: .8rem!important;
}


/* <!-- footer区域 end --> */